  @import "../../../assets/mixins.styl"
    .content-footer
        background #333
        padding 27px 10px 14px 10px
        box-sizing border-box
        .row
          display flex
          justify-content center
          button
            background #333
            color #fff
            width 85px
            height 30px
            border 2px solid #999
            margin-left 10px
            border-radius 5px
        .info
          display flex
          flex-direction column
          font-size 12px
          justify-content center
          align-items center
          color #fff 