.footer 
  border-1px(gray, top);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: #fff;
  z-index: 2;
  .footerItem 
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active 
      color: red;
    .iconfont 
      font-size: 18px;
    .text 
      margin: 2px 0 2px 0;
    
  


