  @import "../../assets/mixins.styl"
    .home
      position relative
      left 0
      top 71px
      width 100%
      height 100%
      display flex
      .home-content  
        padding-bottom 180px