@import "../../../assets/mixins.styl"
  .nav
    .nav-top
        display flex
        height 36px
        line-height 36px
        justify-content space-around
        .text
          font-size 12px  
    .nav-content
        .navList
          display flex
          flex-wrap wrap
        .navItem 
            display flex
            flex-direction column
            justify-content center
            align-items center
            font-size 12px
            width 55px
            height 78px
            margin 5px 10px 4px 10px
            img 
              width 55px
              height 55px